<section class="bg-white dark:bg-gray-900 h-screen overflow-y-auto">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6 max-h-screen">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Blog
                system
            </h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Abdullah Qassam AlShaibany</p>
        </div>
        <div class="mb-4">
            <app-button [meta]="addPostAction" *ngIf="!isLoading" (onClick)="addPost()"></app-button>
        </div>
        <div class="grid gap-8 lg:grid-cols-2" *ngIf="!isLoading">
            <article *ngFor="let post of posts.items"
                class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-between items-center mb-5 text-gray-500">
                    <span
                        class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z">
                            </path>
                        </svg>
                        {{post.category}}
                    </span>
                    <span class="text-sm">{{getRelativeTimeString(post.date)}}</span>
                </div>
                <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a
                        href="#">{{post.title}}</a></h2>
                <p class="mb-5 font-light text-gray-500 dark:text-gray-400">{{post.content.slice(0,100)}}
                    {{post.content.length > 100 ? '...' : ""}}.</p>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <div class="w-7 h-7 rounded-full bg-blue-400"> </div>
                        <span class="font-medium dark:text-white">
                            {{post.user.username}}
                        </span>
                    </div>
                    <div (click)="viewPost(post.id)"
                        class="inline-flex cursor-pointer items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                        Read more
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>

                <div class="flex justify-between items-center mx-3 mt-3">
                    <div (click)="editPost(post.id)"
                        class=" text-green-900 inline-flex cursor-pointer items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                        Edit
                    </div>
                    <div (click)="deletePost(post.id)"
                        class=" text-green-900 inline-flex cursor-pointer items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                        Delete
                    </div>
                </div>
            </article>
        </div>
        <div class="flex justify-center">
            <app-loading-skeleton *ngIf="isLoading"></app-loading-skeleton>
        </div>
        <div class="my-3"></div>
        <app-pagination [pagination]="posts.pagination" (onPageChange)="onPageChange($event)"
            *ngIf="!isLoading"></app-pagination>

    </div>
</section>